.capa{
    background-color: black;
    color:white;
    align-items: center;
    justify-content: space-around;
    div{
        display: grid;
        justify-items: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        h1{
            font-size: 65px;
            width: max-content;
            span{
                text-decoration: underline;
            }
        }
        h2{
            margin-top: 10px;
            font-size: 30px;
            width: max-content;
            text-align: center;
        }
    }
    img{
        filter: grayscale(60%);
        height:60vh;
    }
}